* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
}
h1 {
  margin-left: 15%;
  margin-right: 15%;
}
form {
  background-color: blueviolet;
  padding: 30px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.6);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: url(https://image.freepik.com/free-vector/white-gray-geometric-shape-seamless-pattern-background_107708-55.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.text {
  font-size: 2rem;
  color: white;
}
